.Button {
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.Button:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  color: #888888;
}

.Success {
  background-color: #35b958;
}

.Success:hover:enabled { 
  background-color: #30a54f;
}

.Danger {
  background-color: #d9534f;
}

.Danger:hover { 
  background-color: #d43f3a;
}